.task{
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.task:hover 
.taskRight {
    display: flex;
}

.title {
    font-size: 20px;
}

.taskRight {
    align-items: end;
    display: none;
}

.more{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
}

.svg:hover 
svg{
    fill: #605c5c;
}



 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkbox.p4{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid black;
  }
  .checkbox.p3{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid rgb(0, 8, 255);
  }
  .checkbox.p2{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid rgb(255, 136, 0);
  }
  .checkbox.p1{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkbox {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkbox {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  