$p1-color: #d1453b;
$p2-color: #eb8909;
$p3-color: #246fe0;
$p4-color: #666;

.task{
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.task:hover 
.taskRight {
    display: flex;
}

.title {
    font-size: 20px;
}

.taskRight {
    align-items: end;
    display: none;
}

.more{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
}

.svg:hover 
svg{
    fill: #605c5c;
}



 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  /* Create a custom radio button */
  .checkbox{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    &.p1{
      border: 1px solid $p1-color
    }
    &.p2{
      border: 1px solid $p2-color
    }
    &.p3{
      border: 1px solid $p3-color
    }
    &.p4{
      border: 1px solid $p4-color
    }
  }
  /* On mouse-over, add a grey background color */
  // .container:hover input ~ .checkbox {
    
  // }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkbox {
    height: 22px;
    width: 22px;
    &.p1{
      background-color: $p1-color;
    }
    &.p2{
      background-color: $p2-color;
    }
    &.p3{
      background-color: $p3-color;
    }
    &.p4{
      background-color: $p4-color;
    }
  }

  //suck