$p1-color: #d1453b;
$p2-color: #eb8909;
$p3-color: #246fe0;
$p4-color: #666;

$overdue-color: #d82113;
$todayDue-color: #00c90a;
$futureDue-color: #246fe0;

.task {
  position: relative;
  &:hover .taskTools {
    display: flex;
    align-items: center;
  }
}

.taskContent {
  position: relative;
  font-size: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.taskTitle {
  font-size: 20px;
  margin-right: 10px;
}
.taskDescription {
  margin-left: 33px;
  font-size: 10px;
  color: rgb(70, 70, 70);
}

.taskTools {
  display: none;
}

.moreButton {
  margin-left: 12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.trashButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  &:hover {
    color: #605c5c;
  }
}

.editButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  &:hover {
    color: #605c5c;
  }
}

.moreIcon {
  font-size: 24px;
  &:hover {
    color: #605c5c;
  }
}

.editIcon {
  font-size: 24px;
  &:hover {
    color: #605c5c;
  }
}

.trashIcon {
  font-size: 16px;
  margin-right: 5px;
}

.taskLeft {
  display: flex;
  flex-direction: column;
}

.moreContainer {
  position: relative;
}

.taskTopLine{
  align-items: center;
  display: flex;
}

.taskDownLine{
  display: flex;
  align-items: center;
}

.dueDate{
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;
  &.undefined{
    display: none;
  }
  &.overdue{
    color: $overdue-color;
    border-color: $overdue-color;
  }
  &.today{
    color: $todayDue-color;
    border-color: $todayDue-color;
  }
  &.future{
    color: $futureDue-color;
    border-color: $futureDue-color;
  }
}

.divider{
  border-top: 1px solid #e5e5e5;
  margin-bottom: 5px;
}
