$p1-color: #d1453b;
$p2-color: #eb8909;
$p3-color: #246fe0;
$p4-color: #666;

$overdue-color: #d82113;
$todayDue-color: #00c90a;
$futureDue-color: #246fe0;

.task {
  position: relative;
}

.taskContent {
  position: relative;
  font-size: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}

.taskTitle {
  font-size: 20px;
  margin-right: 10px;
  word-wrap: break-word;
}

.taskDescription {
  margin-left: 33px;
  font-size: 10px;
  color: rgb(70, 70, 70);
  word-wrap: break-word;
}

.taskTools {
  display: flex;
  align-items: center;
}

.moreButton {
  margin-left: 12px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 30px;
  width: 30px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.trashButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  padding: 1px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.priorityButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 2px;

  &.active .flagIcon {
    border: 1px solid black;
  }
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
  width: 30px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.editFullButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 1px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.duplicateButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;

  margin-bottom: 5px;
  padding: 1px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.moreIcon {
  font-size: 30px;
}

.editIcon {
  font-size: 24px;
}

.trashIcon {
  font-size: 24px;
}

.duplicateIcon {
  font-size: 24px;
}

.flagIcon {
  font-size: 24px;
  margin-right: 5px;
  border-radius: 4px;

  &:hover {
    background: #e5e5e5;
  }

  &.p1 {
    color: $p1-color;
  }

  &.p2 {
    color: $p2-color;
  }

  &.p3 {
    color: $p3-color;
  }

  &.p4 {
    color: $p4-color;
  }
}

.taskLeft {
  display: flex;
  flex-direction: column;
}

.moreContainer {
  position: relative;
}

.taskTopLine {
  align-items: center;
  display: flex;
}

.taskDownLine {
  display: flex;
  align-items: center;
}

.dueDate {
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;

  &.undefined {
    display: none;
  }

  &.overdue {
    color: $overdue-color;
    border-color: $overdue-color;
  }

  &.today {
    color: $todayDue-color;
    border-color: $todayDue-color;
  }

  &.future {
    color: $futureDue-color;
    border-color: $futureDue-color;
  }
}

.dueDateButtonsContainer {
  margin-top: 6px;
  display: flex;
}

.priorityButtonsContainer {
  margin-top: 6px;
  display: flex;
}

.heading {
  font-size: 14px;
}

.divider {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 5px;
}

.dueDateButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 1px;
  margin-right: 4px;
}

.todayIcon {
  font-size: 24px;
  color: #058527;
  border-radius: 4px;

  &:hover {
    background: #e5e5e5;
  }
}

.tomorrowIcon {
  font-size: 24px;
  color: #ad6200 !important;
  border-radius: 4px;
  padding: 2px;

  &:hover {
    background: #e5e5e5;
  }
}

.nextWeekIcon {
  font-size: 24px;
  color: #692fc2 !important;
  border-radius: 4px;
  padding: 2px;

  &:hover {
    background: #e5e5e5;
  }
}

.thisWeekendIcon {
  font-size: 24px;
  color: #246fe0 !important;
  border-radius: 4px;
  padding: 2px;

  &:hover {
    background: #e5e5e5;
  }
}

.noDueDateIcon {
  font-size: 24px;
  color: #666;
  padding: 2px;
  border-radius: 4px;

  &:hover {
    background: #e5e5e5;
  }
}

.date {
  color: #058527;
  font-size: 12px;
  top: 8px;
  position: absolute;
}

.calendarIconContainer {
  padding: 2px;
  justify-content: center;
  position: relative;
  display: flex;
  border-radius: 4px;

  &:hover {
    background: #e5e5e5;
  }
}