.search {
    position: relative;
    margin-left: 5px;
}

.searchIcon {
    font-size: 22px;
    margin-right: 5px;
}

.inputContainer {
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 32.4px;
    padding: 2px;
    position: relative;
}

.input {
    outline: none;
    border: 1px solid white;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.dropdown {
    position: absolute;
    left: 0;
    transform: translateX(0);
}

.screenFiller {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}

.sadIcon {
    font-size: 25px;
    color: #246fe0;
    margin-right: 5px;
}

.noResults {
    display: flex;
    align-items: center;
}