.modal{
    position: absolute;
    display: none;
    &.active{
        display: block;
    }
    bottom: -5px;
    transform: translateY(100%) translateX(-50%);
    left: 50%;
}

.modalContent{
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 6px;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
}
