.sidebar {
  width: 220px;
  height: calc(100vh - 44px);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: #e5e5e5;
  }
}

.inboxIcon {
  margin-right: 10px;
  font-size: 20px;
  color: #246fe0;
}

.todayIcon {
  margin-right: 10px;
  font-size: 20px;
  color: #058527;
}

.upcomingIcon {
  margin-right: 10px;
  font-size: 20px;
  color: #692fc2;
}

.date {
  color: #058527;
  font-size: 10px;
  top: 5px;
  left: 5px;
  position: absolute;
}

.calendarIconContainer {
  position: relative;
  display: flex;
}

.countOfTasks{
  color: grey;
  font-size: 14px;
}

.navLinkLeft{
  display: flex;
  align-items: center;
}
