*{
    margin: 0;
}

.input{
    outline: none;
    border: 1px solid white;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttons{
    display: flex;
    justify-content: right;
}

.addTask{
    margin-top: 5px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    background: #3B7ADC;
    cursor: pointer;
    &:hover{
        background: #2c5ca9;;
    }
}

.cancel{
    margin-top: 5px;
    margin-right: 7px;
    padding: 5px 15px;
    color: #202020;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    &:hover{
        background: #e5e5e5;
    }
}

.form{
    border: 1px solid #202020;
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
    display: none;
    &.active{
        display: block;
    }
}

.popupContainer {
    position: sticky;
    // width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      background-color: rgba(0, 0, 0, 0.5);
      //padding: 10px;
      padding: 5px;
      border-radius: 5px;
      margin: 0;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-primary);
      font-family: var(--font-primary);
      font-size: 14px;
      cursor: pointer;
    }
}

.popupButton {
    border: none;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    transition: .3s;
    background-color: var(--text-primary);
    color: var(--background-primary);
    font-family: var(--font-primary);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}