.navbar {
  width: 100%;
  height: 43px;
  display: flex;
  background-color: #3b7adc;
  align-items: center;
}

.menuButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.menuIcon {
  font-size: 40px;
  &:hover {
    color: #605c5c;
  }
}
