.container {
    width: 100%;
    display: flex;
    overflow-y: auto;
}

.content {
    margin-top: 30px;
    flex: 0 0 1000px;
    margin-left: auto;
    margin-right: auto;
}

.viewTop {
    display: flex;
    justify-content: space-between;
}

.rescheduleButton {
    color: #d1453b;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px;

    &:hover {
        background: #e5e5e5;
    }
}