.addTask {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
  padding-top: 20px;
  padding-left: 5px;
  cursor: pointer;

  &:hover {
    color: #3b7adc;
  }

  & svg {
    fill: #3b7adc;
  }

  &:hover svg {
    fill: white;
    background-color: #3b7adc;
    border-radius: 90px;
  }
}

.plusIcon {
  font-size: 18px;
  margin-right: 8px;
}